---
const {active, onclick, href} = Astro.props
---

<button class={active && "active"} onclick="() => onclick && onclick()">
  {href ?
  <a href={href}>
    <slot />
  </a>
  :
  <slot />
  }
</button>

<style>
  button {
    background-color: lightgray;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 5px 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  .active {
    background-color: lightblue;
  }
</style>
