---
const {title} = Astro.props
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="theme-color" content="#333333">

    <title>{title}</title>

	<link rel="stylesheet" href="global.css">
	<link rel="manifest" href="manifest.json" crossorigin="use-credentials">
	<link rel="icon" type="image/png" href="favicon.png">
    <link
	data-n-head="1"
	rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Roboto+Slab&amp;display=swap"
	/>
	<link
	data-n-head="1"
	rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap"
	/>
</head>
<body>
	<slot />
</body>
</html>
